{{!-- Code using the column burger_name and the establishing an id and if burger has been eaten or not --}}

<li>
	{{burger_name}}
	<button class="change-state" data-id="{{id}}" data-newState="{{devour}}">Devour</button>
</li>



{{!-- {{#if devour}}EATEN!{{else}}NOT EATEN!{{/if}} --}}