<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/assets/css/burger_styles.css" type="text/css" />
		<title>EAT DA BURGER!</title>
	
	</head>
	<body>
		{{{ body }}}
		
		<script src="/assets/javaBurger.js"></script>
	</body>
</html>
