<img src="../img/10610510.jpg" alt="Happy Burger image">

<h1>Eat Da Burger</h1>

<h3>Burgers not devoured</h3>


<ol>
  {{#each burgers}}
    {{#unless devour}}
      {{> burger-block}}
      {{!-- removed burgers/ --}}
    {{/unless}}
  {{/each}}
</ol>

<h3>Devoured burgers</h3>

<ol>
  {{#each burgers}}
    {{#if devour}}
      {{> burger-block}} 
      {{!-- removed burgers/ --}}
    {{/if}}
  {{/each}}
</ol>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger" class="burger-name">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>
{{!-- 
  <div class="form-group">
    <label for="eaten">Eaten?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Devoured!
  </div> --}}

  <button type="submit">Add Burger</button>
</form>
