body {
  background-color:#8fd0ca;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: #f45ca2; 
}

.container {
  margin: 0 auto;
  width: 960px;
  
}

#not-devoured {
float: left;
}

#devoured{
  float: right;
}

/* headings for burgers devoured and not */
h2 {
  margin: 5px;
  padding: 5px;
}

img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

/* burgers entered by user in a list */
li {
 padding: 5px;
  margin: 5px;
  display: block;
}


.create-form {
  padding: 5px;
  margin: 5px;
  display: inline-block;
}

.form-group {
  margin-bottom: 5px;
}

.change-state {
  padding: 5px;
  margin-left: 30px;
}

.burger-name {
  font-weight: bold;
  font-size: 26px;
}

